body, 
h1, h2, h3, h4, h5, h6, 
ul, li, button {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

header {
	width: 100%;
	background-color: #444;
}

.container {
	display: flex;
	color: white;
	padding: 10px 20px;
	justify-content: space-between;
}

.branding {

}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: white;
	transition: all 200ms;
}

nav ul li a:hover {
	color: #F7DD72;
}

section {
	width: 100%;
	height: 100vh;
}

/* intro page start */

.intro-page {
	position: relative;
	background-image: url(../img/intro_cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: white;
}

.intro-page:before {
	content: '';
	background-image: linear-gradient(90deg, rgba(58, 64, 90, 0.5), rgba(113, 105, 105, 0.5));
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.intro_container {
	position: relative;
	padding: 0px 40px;
}

.intro_content {
	margin: 0px auto;
	padding-top: 40px;
	width: 550px;
}

.intro_content h1 {
	font-size: 2.5rem;
}

.intro_content p {
	font-size: 1.3rem;
}

.intro_dp {
	width: 100px;
	height: 100px;
	padding: 5px;
	background-color: #F7DD72;
	margin: 30px auto;
	border: 1px solid #F7DD72;
	border-radius: 50%;
	overflow: hidden;
}

.image_container {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	overflow: hidden;
	border-radius: 50%;
}

.intro_dp img {
	width: 100%;
}

.intro_social {
	width: 500px;
	margin: 0px auto;
	padding: 10px;
	border-top: 1px solid white; 
}

.social_icons {
	width: 400px;
	margin: 0px auto;
}

.social_icons ul {
	display: flex;
}

.social_icons ul li {
	flex: 1;
}

.social_icons a{
	padding: 0px;
	border: 0px;
	border-radius: 5px;
	transition: all 200ms;
}

.social_icons a:hover {
	padding: 3px;
	border: 1px solid #FFF;
}

.next_btn {
	margin: 20px auto;
	padding: 5px;
	text-align: center;
}

.next_btn button {
	padding: 10px;
	border: 3px solid #F7DD72;
	background-color: rgba(1, 1, 1, 0);
	color: white;
	cursor: pointer;
	transition: background-color 200ms;
}

.next_btn button:hover {
	background-color: rgba(1, 1, 1, 0.5);
}

#angle-down {
	position: relative;
	cursor: pointer;
	animation: moveangle 1s cubic-bezier(.33,.6,.6,1.5) infinite
}

@keyframes moveangle {
	0% {
		top: 0px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}

/* intro page end */

.expert-page {
	/*background-color: #CFCFCF;*/
	background-color: #1E152A
}

.expert_container {
	padding: 40px 40px;
	position: relative;
}

.expert_header {
	text-align: center;
	color: white;
	font-size: 2.5rem;
}

.expert_header:before {
	content: "</ "
}

.expert_header:after {
	content: " >"
}

.expert_content {
	width: 600px;
	margin: 30px auto;
	color: white;
	text-align: center;
	font-size: 1.2rem;
}

.logos {
	width: 650px;
	margin: 0px auto;
	font-size: 4rem;
}

.logos ul {
	display: flex;
	padding: 10px;
}

.logos ul li {
	flex: 1;
	text-align: center;
}




/*media screen*/
@media only screen and (max-width: 660px) {
	.intro_content, .intro_social, .expert_content, .logos {
		width: 100%;
	}

	.social_icons {
		width: 90%;
	}

	.intro_content h1, .expert_header {
		font-size: 1.5rem;
	}

	.intro_content p, .expert_content {
		font-size: 1rem;
	}

	.logos {
		font-size: 2rem;
	}
}

@media only screen and (min-height: 900px) {
	.expert_container {
		padding: 0px 40px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
	}

	.expert_content, .intro_content p {
		line-height: 2rem;
		font-size: 1.5rem;
	}
}