@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body, 
h1, h2, h3, h4, h5, h6, 
ul, li, button {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

header {
	width: 100%;
	background-color: #444;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: white;
	padding: 10px 20px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.branding {

}

.image_bg {
	position: absolute;
	top: 5px;
	left: 8px;
}

.image_fg {
	position: relative;
    left: -2px;
    top: 2px;
}

.image_bg img {
	animation: logo-rotate 5s infinite linear;
}

@keyframes logo-rotate {
	0%, 5%     {-webkit-transform: rotate(0deg);}
    25%,30%   {-webkit-transform: rotate(90deg);}
    50%,55%   {-webkit-transform: rotate(180deg);}
    75%,80%  {-webkit-transform: rotate(270deg);}
    100%  {-webkit-transform: rotate(360deg);}
}

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: white;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

nav ul li a:hover {
	color: #F7DD72;
}

section {
	width: 100%;
}

/* intro page start */

.intro-page {
	position: relative;
	background-image: url(../img/intro_cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: white;
	height: 100vh;
}

.intro-page:before{
	content: '';
	background-image: -webkit-linear-gradient(left, rgba(58, 64, 90, 0.5), rgba(113, 105, 105, 0.5));
	background-image: linear-gradient(90deg, rgba(58, 64, 90, 0.5), rgba(113, 105, 105, 0.5));
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.intro_container {
	position: relative;
	padding: 0px 40px;
}

.intro_content {
	margin: 0px auto;
	padding-top: 40px;
	width: 550px;
}

.intro_content h1 {
	font-size: 2.5rem;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	border-right: .15em solid orange;
	-webkit-animation: typing 6s steps(30, end), blink-caret .75s step-end infinite;
	        animation: typing 6s steps(30, end), blink-caret .75s step-end infinite;
}

@-webkit-keyframes typing {
	0% { width: 0 }
	10%, 50% { width: 12% }
	100% { width: 100%}
}

@keyframes typing {
	0% { width: 0 }
	10%, 50% { width: 12% }
	100% { width: 100%}
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.intro_content p {
	font-size: 1.3rem;
}

.intro_dp {
	position: relative;
	width: 100px;
	height: 100px;
	padding: 6px;
	background-color: #81B29A;
	margin: 30px auto;
	border: 1px solid #81B29A;
	border-radius: 50%;
	overflow: hidden;
}

.image_container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	overflow: hidden;
	border-radius: 50%;
	transition: box-shadow 300ms;
}

.image_container:hover {
	box-shadow: 0px 0px 0px 6px #FFFFFF;
}

.intro_dp img {
	width: 100%;
}

.intro_social {
	width: 500px;
	margin: 0px auto;
	padding: 10px;
	border-top: 1px solid white; 
}

.social_icons {
	width: 400px;
	margin: 0px auto;
}

.social_icons ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social_icons ul li {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.social_icons a{
	padding: 0px;
	border: 0px;
	border-radius: 5px;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

.social_icons a:hover {
	padding: 3px;
	border: 1px solid #FFF;
}

.next_btn {
	margin: 20px auto;
	padding: 5px;
	text-align: center;
}

.next_btn button {
	outline: none;
	padding: 10px;
	border: 3px solid #81B29A;
	background-color: rgba(1, 1, 1, 0);
	color: white;
	cursor: pointer;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

.next_btn button:hover {
	background-color: rgba(1, 1, 1, 0.5);
}

#angle-down {
	position: relative;
	cursor: pointer;
	-webkit-animation: moveangle 1s cubic-bezier(.33,.6,.6,1.5) infinite;
	        animation: moveangle 1s cubic-bezier(.33,.6,.6,1.5) infinite
}

@-webkit-keyframes moveangle {
	0% {
		top: 0px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}

@keyframes moveangle {
	0% {
		top: 0px;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0px;
	}
}

/* intro page end */

/*expert page start*/

.expert-page {
	/*background-color: #CFCFCF;*/
	background-color: #1E152A;
	height: 100vh;
}

.expert_container {
	padding: 40px 40px;
	position: relative;
}

.expert_header {
	text-align: center;
	color: white;
	font-size: 2.5rem;
}

.expert_header:before {
	content: "</ "
}

.expert_header:after {
	content: " >"
}

.expert_content {
	width: 600px;
	margin: 30px auto;
	color: white;
	text-align: center;
	font-size: 1.2rem;
}

.logos {
	width: 650px;
	margin: 0px auto;
	font-size: 4rem;
}

.logos ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
}

.logos ul li {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
}

/*expert page end*/

/*project page start*/

.project-page {
	background-color: #EEEEEE;
}

.project_container {
	position: relative;
	padding: 20px 40px;
}

.project_header {
	text-align: center;
	color: #2A3A3F;
	font-size: 2.5rem;
	padding: 0px 50px;
}

.project_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 40px 50px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	text-align: center;
}

.project {
	padding: 20px;
	width: 300px;
	text-align: center;
	color: #2A3A3F;
}

.project h2 {
	font-size: 1.5rem;
}

.project_img {
	padding-top: 10px;
	text-align: center;
}

.project_img img {
	width: 30%;
	-webkit-transform: scale(0.8, 0.8);
	        transform: scale(0.8, 0.8);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.project_description {
	color: #93a4aa;
	text-align: center;
}

.project_footer {
	padding: 20px 40px;
	text-align: center;
}

.project_footer h3 {
	font-size: 1.2rem;
	color: #53676d;
}

.project_footer a {
	color: #5EA4F7;
	border-bottom: 1px dotted #5EA4F7;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.project_footer a:hover {
	color: #0FA0CE;
	border-bottom: 1px solid #0FA0CE;
}

/*other skills*/

.other-skill {
	background-image: url(../img/art-cover.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: white;
	height: auto;
}

.other-skill:before {
	content: '';
	background-image: linear-gradient(90deg, rgba(32, 80, 129, 0.65), rgba(12, 12, 23, 0.58));
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.skill_container {
	position: relative;
	padding: 20px 40px;
}

.skill_header {
	margin: 20px auto;
}

.skill_header h1 {
	padding-top: 20px;
	font-size: 2.5rem;
}

.skill_content {
	margin: 30px auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.imgbox {
	width: 250px;
	padding: 10px;
	overflow: none;
	position: relative;
	transition: transform 0.5s ease-in-out;
}

.imgbox:before {
	content: '';
	position: absolute;
	background-image: linear-gradient(90deg, rgba(32, 80, 129, 0.3), rgba(12, 12, 23, 0.3));
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*opacity: 0.3;*/
	transition: opacity 0.5s ease-in-out;
}

.imgbox img {
	width: 100%;
}

.imgbox:hover {
	transform: scale(1.1, 1.1);	
}

.imgbox:hover::before {
	opacity: 0.1;
}


/*media screen*/
@media only screen and (max-width: 705px) {
	.intro_content, .intro_social, .expert_content, .logos {
		width: 100%;
	}

	.social_icons {
		width: 90%;
	}

	.intro_content h1, .expert_header, .project_header {
		font-size: 1.5rem;
	}

	.project h2 {
		font-size: 1.2rem;
	}

	.intro_content p, .expert_content, .project_footer h3 {
		font-size: 1rem;
	}

	.logos {
		font-size: 2rem;
	}

	.project_footer span {
		display: block;
	}

	.project_content {
		display: block;
	}

	.project {
		width: 90%;
		margin: 0px auto;
	}
}

@media only screen and (min-height: 900px) {
	.expert_container, .intro_container {
		padding: 0px 40px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 100%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.expert_content, .intro_content p {
		line-height: 2rem;
		font-size: 1.7rem;
	}

	.intro_content h1 {
		font-size: 3rem;
	}
}